body {
    font-size: 15px;
    line-height: 1.50;
    color: #333333;
    /*background-image: url('/images/sky_clouds.jpg');*/
    position: relative;
	font-family: 'Open Sans', sans-serif;
}
html, body {
    height: 100%;
}.table td{border:0}

#Calque_1{margin-top:7%;}
.header {height: 150px;
	color: #ffffff;
	background-color: rgba(8, 55, 70, 0.7);
	padding: 10px 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	position: relative;
top: 0;
width: 100%;
}
ul {
list-style-type: none;
}
.cam  th, .cam td {text-align: center;
	padding: 0.15rem;border: 5px solid #dee2e6;
vertical-align: middle;}
.cam{margin-left: 15px;}
.colmur{top:-20px;}
.poubelles{
position:relative;
left:550px;
top: -600px;
width:100px}
.fosse_septique{
position:relative;
left:450px;
bottom:0px;
width:100px}
/* ERREURS*/
#erreur{position: absolute;
    top: 150px;
    left: 100px;
    color: white;
}
 #erreur_interieur{
position: absolute;
top: 50px;
left: 10px;
 color: #ce1c1c;}
 /*----------------------------*/

.text-center{
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	display: inline-block;
	float: none;
}
.fond_date {color:#fff;
width: 90px;height: 80px; 
background-image: url(../images/date.svg);
font-family: Arial;font-size: 18px;
line-height: 1;text-align: center;
position: relative;
top: 20px;right: -270px;
}
/*exterieur*/
.txt_ext{position:relative;top:20px;left:20px;}
.lj1{fill:#a29e9e;}
.lj2{fill:#a29e9e;}
/* pour bigSlide*/
.panel {
    position: fixed;z-index:30;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}
.wrap {
    position: relative;
}
/*----------------------
commandes-------------------*/
#passe{top:50px;}
#thermostat{top: 100px;}
#d_btn_c{margin-left: 50px;}
/*------------------*/
.site-nom {position: relative;
top: 25px;
left:0px;
	font-size: 36px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.site-nom a {
	color: #ffffff;
}
.site-nom a:hover {
	text-decoration: none;
}
.site-slogan {
	font-size: 16px;margin-left: 100px;
margin-top: 70px;
}
.logo,
.site-nom{
	float: left;
}
.taille18{font-size: 18px;}
.txtcenter{text-align: center;}
.text-centre {
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    display: block;
    float: none;
}
#btn_cam{position: relative;
top: 100px;
left: -80px;}
.banner::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55);
    content: "";
}
.banner {
    max-width: 100%;
    height: 1120px;
    min-height: 100%;
    position: relative;
    color: #fff;z-index:-10;
}
.banner-image {
	vertical-align: middle;
	min-height: 100%;
	width: 100%;
}
.nav {margin-top: 10px;
background-color: black;
height: 220px;
padding-top: 20px;
font-size: large;}
.menu-link:link, .menu-link:visited {
    color: #fff;
    background: rgba(0, 0, 0, .4);
    border-radius: 4px;
    padding: .2em .4em;
}

a:link, a:visited {
    color: #486660;
}
.btn-primary a:link, a:visited {
    color: inherit;
}
.menu-link {
    position: fixed;left:300px;
    font-size: 1.5em;z-index:30;top: 10px;
}
.modal-dialog {width:650px;margin: 0 auto;margin-top:50px}
#Calque_1 {margin-left: 7%;}
#interieur, #exterieur, #meteo, #alarmes,#commandes,#murcam ,
#murinter,#app_diverses,#graphiques,#admin, #zigbee, #zwave, #dvr, #nagios,#spa{
    width: 100%;
    height: 1120px;padding: 80px 0;
    min-height: 100%;
    position: relative;
    color: #000;
    top: 350px;z-index:-20;overflow: auto;
}
#interieur, #exterieur,#alarmes,#commandes,#murcam ,#murinter,
#app_diverses,#admin, #zigbee, #zwave, #dvr, #nagios,#spa{
    background-color: aquamarine;}
#meteo {
	background-color: #4f9ff4;}
#retour{top:200px;}

.navbar-right{margin-right: 0;}

.banner-caption h1 {
	font-size: 20px;
}
.banner-caption h1,
.banner-caption h2,
.banner-caption h3,
.banner-caption h4,
.banner-caption h5,
.banner-caption h6 {
	color: #ffffff;
}
.banner-caption {
	position: absolute;
	top: 30%;
	width: 100%;
	z-index: 2;
}
.zz{margin-left: 10px;}
/*interieur*/
#voltage{position: absolute;
top: -30px;
right: -20px;
width: 200px;}
.meteo_concept_am  {display: inline;width: 150px;margin-left: -20px;}
#meteo_concept_am{position: relative;
top: 20px;margin-left: -20px;}
#meteo_concept{position: relative;
top: 10px;}
.image_met{width:80px;margin-left: -15px;}
.icone_vent{width: 40px;margin-left: 0;margin-top: -20px;}
.vvent{font-family: Arial;font-size: 15px;margin-left: 0;
position: relative;
top: -40px;}
.vtemp{font-family: Arial;font-size: 15px;margin-left: 0;
position: relative;
top: -50px;}
.maj_met{width:60px;height:auto;
margin: -15px 0 0 50px;}
.modal-header{background-color:cyan;}
.modal-backdrop {z-index: -1040;}
/*.modal-dialog {margin: 40px;}*/
.aff_dim_ecran{    width: 50px;
    height: 50px;
    position: absolute;
    Top: 820px;
    left: 50px;
}
.aff_pluie{position: absolute;
    top: 150px;
    width: 100px;
    height: auto;
    left: 600px;}
#pluie img{width:80px;}
#txt_pluie{position: relative;
top: -70px;color:red;
left: 20px;}
#txt_pluie a{color:red;}
/*affichage anniversaires*/
#aff_anni{display:none;}
.aff_anni{position: absolute;
width: 70px;
right: 140px;height: auto;
bottom: 130px;
left: 180px;}
#aff_anni{width: 70px;}
#prenom{color: #f0e8e8;}
/*pression chaudière*/
#bar_pression {
    position: relative;
    top: -770px;
    width: 100px;
    left: 500px;
}
#pression_chaud{width:60px}
.pression_chaud{position: relative;
top: -460px;
left: 200px;}
/*ping PI4*/
#ping_pi4{position: relative;top: -85px;
left: 410px;
width: 50px;
height: 50px;}
#ping_rasp{position: relative;
bottom: 700px;
left: 320px;}
/*aff batterie */
.aff_bat{position: absolute;
top: 810px;
left: 120px;}
#batterie{width: 30px;
height: auto;}
.cercle{
   animation-duration: .8s;
   animation-name: clignoter;
   animation-iteration-count: infinite;
   transition: none;
}
.bl{position: absolute;
top: 870px;
left: 115px;}
#bl{width: 40px;
height: auto;}
.custom-box {
    border: 2px solid grey;
    text-align: center;
    padding: 10px;
    width: fit-content;
    background-color: #e5c666;
    margin: auto;
}
#modal_bl {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}
/*alarme admin*/
#reponse1 {background-color: beige;position:relative;top:-230px;display:none;left:0;height:auto;width:510px}
#info_admin{margin-left:10px;display:block;}
#d_btn_a , #d_btn_al{display:block;position: absolute;left: 50px;background-color: #4d4d4d;color:white;
border-color: #e0e3e6;border-radius: 0.55rem}
#d_btn_a{top: 80px;}#d_btn_al{top: 60px;}
#ecran{margin-top: 50px}
#pwdalarm{text-align: center;width: 200px;left:200px;margin: 0 auto;position: fixed;top: 500px;background-color: rgb(89, 89, 89);height: 180px;}
.close_clavier{font-size: 24px;position: relative;top: 0px;left: 80px;color: white;} 
.form_al {
  width: 200px;
  margin: 5px auto;
  background: #595959;
  padding: 10px 25px;
  text-align: center;
  box-shadow: 0px 5px 5px -0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;position: fixed;
top: 480px;
}
/*graphiques-------*/
#graphic{color:white;}
.graphique_img{max-width:700px;margin:0 1px 0 1px,;width:100%;}
.title_g{position: relative;top: 50px;margin-bottom: 0;}
.graphiques{background-color: green;}
.modal_param{background-color: #3fca76;top: 160px;}
/*app diverses --------*/
.log{width:650px;max-width:90%}
/*popup iframe*/
.sparkling-modal-container { }

.sparkling-modal-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.sparkling-modal-frame {
    background: #fff;
    border: 0px solid #000;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
}

.sparkling-modal-title {
    background: #f5f3ef;
    position: relative;
}

.sparkling-modal-title span {
	font-size: 20px;
	padding: 20px;
	float: left;
	line-height: 20px;
}

.sparkling-modal-close {
    /*padding: 20px 30px;*/
	/*line-height: 20px;*/
	/*float: right;*/
    /*font-size: 20px;*/
    
	cursor: pointer;
    height: 100%;
    width: 75px;
    position: absolute;
    right: 0px;
    
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

.sparkling-modal-close:hover { background: #e0ddd6; }

.sparkling-modal-content { padding: 20px; }

.i-close {
    width: 100%;
    height: 100%;
    position: relative;
    transform: rotate(45deg);
}

.i-close-h {
    position: relative;
    height: 1px;
    width: 19px;
    background: #777;
    top: 50%;
    left: 50%;
    margin-left: -9px;
}


.i-close-v {
    position: relative;
    height: 19px;
    width: 1px;
    background: #777;
    top: 50%;
    margin-top: -10px;
    left: 50%;
}

/*zigbee2mqtt zwavejs2mqtt & ngiosmobile   (----------------*/
#zbmqtt,#zwmqtt {margin-top:-40px;width: 100%;height: 800px;}
#nagiosmobile {width:750px;margin-top:-50px;height: 700px;}
#nagiosapp{width: 750px;height: 700px;position: relative;
top: -70px;}
/*mur cam  pour 9 caméras*/
img#cam1,img#cam2,img#cam3,img#cam4,img#cam5,img#cam6,img#cam7,img#cam8,img#cam9{
	max-width: 100%;
    width: 300px;
    height: auto;
}
/*-alarme--------------*/
#zm{position:relative;top:10px;left:20px}
.zminder{margin-left: 80px;}
#alarme_nuit{position:relative;top:-445px;
left: 160px;width: 45px;}
/*popup volet roulant */
.popup {
    position: relative;
    top: -600px;
    left: 0;
    background: rgba(0, 0, 0, 0.58);
    width: 100%;
    height: 100%;
    display: none;
  }
 
  /* Popup inner div */
  .popup-content {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 100px;
    border-radius: 3px;
    background: #fff;
    position: relative;
  }
 
  /* Popup close button */
  .closeBtn {
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 17px;
    color: #7c7575;
    text-decoration: none;
  }
/*agent dvr ------------------*/
.title_dvr {font-size: 1.5rem;}
#agent_dvr{width:500px;height: 700px;margin-left: -15px;margin-top: -20px;}
#dvr .switch {top: -40px;}
/*admin*/
#adm1{width:500px;}
.admin1{color:vert}
/* devices (small desktops <768) */
@media (max-width:767px) {.modal_mur-dialog {width:500px;}
.aff_dim_ecran{top: 750px;}.aff_bat {top: 810px;}
}
/* Large devices (small desktops <601) */
@media (max-width:600px) {.fond_date {right: -70px;}.poubelles{left:450px;}
}

/* Large devices (small desktops <535) */
@media (max-width:534px) {#zbmqtt{width:480px;}#alarme_nuit{top:-290px;}#nagiosmobile{width:480px;}
.poubelles{left:400px;top:-400px}.aff_dim_ecran{top: 580px;}.aff_bat {top: 575px;}
.fosse_septique{left:300px;}#fosse{bottom:-120px;}.aff_anni{bottom: 80px;}.aff_pluie{left: 390px;}
.menu-link {left: 240px;top: 10px;}.bl{top: 640px;}
.fond_date {right: -60px;}#pression_chaud{width:50px}.pression_chaud{top: -305px;left: 200px;}
.colmur{top:-30px;}#nagiosapp{width: 450px;height: 600px;}
	.banner {height:724px;}h1, .h1 {font-size: 2rem;}
.banner-caption {top: 25%;}
.image_met{width:50px;margin-left: 0;}
.icone_vent {width: 40px;
    margin-left: 10px;
    margin-top: -60px;}
.vvent {margin-left: 15px;top: -50px;}
.vtemp {margin-left: 15px;top: -70px;}
#meteo_concept_am {top: -100px;display: inline;width: 50px;}
#meteo_concept_am img{width: 50px;margin-left: 30px;}
.modal-dialog {width:450px;margin-top:50px}#bar_pression{top: -530px;left: 300px;width:80px}
}
/* Large devices (Large desktops 768px and up) */
@media (min-width:768px) {img#cam1,img#cam2,img#cam3,img#cam4,img#cam5,img#cam6,img#cam7,img#cam8,img#cam9{width: 450px;}
	.modal-lg {width: 740px;}.cam {margin-left: 100px;}
	.fond_date {right: -270px;}body {max-width: 768px;margin: 0 auto;background-color: #79afbf;}
.menu-link {left: 50%;top: 50px;}#bar_pression{top: -750px;left: 450px;}
	.txt_ext{left:100px;}.modal {left: -300px;}
	.modal_param {left: 400px;	}
	.modal-dialog {width:740px;}
}

/*DECOUVERTE*/
#decouv_int{position: relative;top:-100px;}
