[Unit]
Description=commande dz par sms
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3.9 /opt/domoticz/config/scripts/python/sms_dz.py > /home/michel/sms_dz.log 2>&1

[Install]
WantedBy=multi-user.target
