[Unit]
Description=commande mo par sms
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /www/monitor/python/sms_mo.py > /home/michel/sms_mo.log 2>&1

[Install]
WantedBy=multi-user.target
