.red{color:red;font-style: italic;font-family: serif;
    font-size: 18px;}
.darkblue{color:darkblue;font-style: italic;font-family: serif;
    font-size: 18px;}
.center {text-align: center;}
table#id9 tr:nth-child(7) {background-color: #50baf96e;}
table#id9 tr:nth-child(8) {background-color: #50baf96e;}
table#id9 tr:nth-child(9) {background-color: #50baf96e;}

