@charset "utf-8";
/* CSS Document */
.notif1,.notif2,.notif3,.notif4{width: 50px;
    height: 50px;
    position: absolute;
    Top: 600px;
    }
.notif1{left: 50px;display:none}
.notif2{left: 120px;display:none}
.notif3{left: 190px;display:none}
.notif4{left: 260px;display:none}
