###############################################################################
#
# CONTACTS
#
###############################################################################
define contact {

    contact_name            nagiosadmin             ; Short name of user
    use                     generic-contact         ; Inherit default values from generic-contact template (defined above)
    alias                   Nagios Admin            ; Full name of user
    email                   michel.gravier@orange.fr
    host_notifications_enabled 1
    host_notification_options d,u,r,
    service_notification_commands   notify-service-by-email,notify-service-by-sms
    host_notification_commands notify-host-by-email,notify-host-by-sms
}



###############################################################################
#
# CONTACT GROUPS
#
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup {

    contactgroup_name       admins
    alias                   Nagios Administrators
    members                 nagiosadmin
}
