[Unit]
Description=cclient mqtt php
After=multi-user.target

[Service]
Type=idle
ExecStart=php /var/www/monitor/ws_z2m/sub_messages_mqtt.php > /home/michel/sub_mqtt.log 2>&1

[Install]
WantedBy=multi-user.target
